@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.heading-font{
	font-family: "Ubuntu Mono", monospace;
}

@layer utilities {
	body {
		font-family: "Helvetica Neue", sans-serif;
	}

	.waitlist {
		background-image: url("./assets/image1.jpg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		object-fit: cover;

		animation: animateBG 20s ease-in-out infinite alternate-reverse;
	}

	@keyframes animateBG {
		0% {
			background-image: url("./assets/image1.jpg");
		}
		50% {
			background-image: url("./assets/image2.jpg");
		}
		100% {
			background-image: url("./assets/image4.jpg");
		}
	}
	._shadow {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
}
